.info-table
	float: right

	th
		font-style: normal
		font-weight: normal
		font-size: 14px
		line-height: 16px
		text-align: right
		letter-spacing: 1.25px
		color: rgba(0, 0, 0, 0.6)
		padding-right: 12px

	td
		font-style: normal
		font-weight: 500
		font-size: 14px
		line-height: 16px
		text-align: left
		letter-spacing: 1.25px

	a, a:hover, a:active, a:visited
		color: #333
		text-align: center
		width: 100%
		display: inline-block

.expand-icon
	float: right
	cursor: pointer

	svg
		transform: translateY(4px)
		width: 45px
		height: 45px

.select-icon
	position: absolute
	top: -2px
	left: -64px
	svg
		width: 40px
		height: 40px
		color: #333

.lang-flag
	transform: translateY(3px)

.hr-lighter
	color: #C0C0C0
	height: 1px

.lecEx
	background-color: #90EE90

.lecture
	background-color: #B0E0E6

.seminar
	background-color: #FFDAB9

.block
	background-color: #FA8072

.elearn
	background-color: #D8BFD8

.share-modal
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
